scrape_configs:
  - job_name: 'nodeexporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['nodeexporter:9100']

  - job_name: 'peggo'
    metrics_path: '/'
    static_configs:
      - targets: ['peggo_exporter:9910']

  - job_name: 'aleo'
    metrics_path: '/'
    static_configs:
      - targets: ['aleo_exporter:9911']
